* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

body header {
  background-color: black;
}

body nav {
  background-color: black;
}

body nav a {
  background-color: green;
}

body nav a:hover {
  background-color: #00cd00;
  color: black;
}

body #galery .galery-item {
  background-color: #d9d9d9;
  border-bottom: solid 1em #d9d9d9;
}

body #galery .galery-item a {
  background-color: green;
  border-radius: 16px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

body #galery .galery-item a:hover {
  color: black;
  background-color: #00cd00;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.6);
}

body .load-more-btn {
  background-color: #6666ff;
  border-style: none;
  border-radius: 4px;
  color: white;
}

body .load-more-btn:hover {
  background-color: #8a8aff;
  cursor: pointer;
  color: black;
}

body .no-more-load {
  background-color: #b3b3ff;
  border-style: none;
  border-radius: 4px;
}

body #search-input {
  border-radius: 4px;
}

body #random button {
  background-color: #6666ff;
  border-style: none;
  border-radius: 4px;
  color: white;
}

body #random button:hover {
  color: black;
  background-color: #8a8aff;
  cursor: pointer;
}

body #random .random-item {
  background-color: #d9d9d9;
  border-bottom: solid 1em #d9d9d9;
}

body #random .random-item a {
  background-color: green;
  border-radius: 16px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

body #random .random-item a:hover {
  background-color: #00cd00;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.6);
}

body {
  font-size: 1.5vw;
  font-family: Arial;
}

body header {
  color: white;
}

body header h1 {
  font-size: 250%;
  text-align: center;
}

body nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

body #loading {
  font-size: 200%;
  text-align: center;
}

body #galery .galery-item h2 {
  text-align: center;
  font-size: 200%;
}

body #galery .galery-item a {
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

body .load-more-btn, body .no-more-load, body #search-input {
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}

body #random button {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

body #random .random-item h2 {
  text-align: center;
  font-size: 200%;
}

body #random .random-item a {
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

body {
  width: calc(100vw - (100vw - 100%));
}

body header {
  width: 100%;
  padding: 2em;
  padding-bottom: .5em;
}

body nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 1em;
}

body nav a {
  padding: 2%;
}

body #loading {
  margin: auto;
}

body #galery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: .5em;
}

body #galery .galery-item {
  width: 100%;
  padding: 1em;
  position: relative;
  max-height: 60vh;
  overflow: hidden;
}

body #galery .galery-item h2 {
  margin-bottom: 1em;
}

body #galery .galery-item img {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}

body #galery .galery-item a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  display: inline-block;
  padding: .4em;
}

body .load-more-btn, body .no-more-load, body #search-input {
  margin: auto;
  width: 40%;
  display: block;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

body #random {
  width: 100%;
  padding: .5em;
}

body #random button {
  margin: auto;
  width: 40%;
  display: block;
  padding: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

body #random .random-item {
  width: 80%;
  padding: 1em;
  margin: auto;
  position: relative;
}

body #random .random-item h2 {
  margin-bottom: 1em;
}

body #random .random-item img {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}

body #random .random-item a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: .2em;
  display: inline-block;
  padding: .4em;
}
