*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-clip: border-box;
}
//This file is the main SCSS, it contains everything about position, box properties, display, etc.
//The fonts, text, backgrounds and border properties are avaible into the next imported files:
@import 'background.scss';
@import 'fonts.scss';
body{
  width: calc(100vw - (100vw - 100%));//A responsive width
  header{
    width: 100%;
    padding: 2em;
    padding-bottom: .5em;

  }
  nav{
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin: auto;
    padding: 1em;
    a{
      padding: 2%;
    }
  }
  #loading{
    margin: auto;
  }

  #galery{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: .5em;
    .galery-item{
      width: 100%;
      padding: 1em;

      position: relative;

      max-height: 60vh;
      overflow: hidden;
      h2{
        margin-bottom: 1em;
      }
      img{
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
      }
      a{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1em;
        display: inline-block;

        padding: .4em;
      }
    }
  }
  .load-more-btn, .no-more-load, #search-input{
    margin: auto;
    width: 40%;
    display: block;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  #random{
    width:100%;
    padding: .5em;
    button{
      margin: auto;
      width: 40%;
      display: block;
      padding: 1em;
      margin-top: .5em;
      margin-bottom: .5em;
    }
    .random-item{
      width: 80%;
      padding: 1em;
      margin: auto;
      position: relative;

      h2{
        margin-bottom: 1em;
      }
      img{
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;

      }
      a{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: .2em;
        display: inline-block;

        padding: .4em;
      }
    }
  }
}
